@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

html {
	--color_dark: #353531;
	--color_light: #faf3dd;
	--color_1: #ff9505;

	--font_size_big: 48px;
	--font_size_medium: 26px;
	--font_size_small: 15px;

	min-height: 100%;
    margin: 0;
}

body {
	min-height: 100%;
    margin: 0;

	text-align: center;
	background-color: var(--color_light);
	color: var(--color_dark);
}

h1 {
	text-align: center;
	font-size: var(--font_size_big);
}

b {
	transition: .6s;
}

b:hover {
	text-shadow: 0px 0px 10px var(--color_1);
}

p {
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: var(--font_size_small);
}

.dark_background {
	background-color: var(--color_dark);
	color: white;
	padding-top: 30px;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}

.light_background {
	background-color: var(--color_light);
	color: black;
}


.wrapper {
	display: inline-block;
	margin: 30px;
}

.card {
	background-color: transparent;
	width: 300px;
	height: 420px;
	border-radius: 18px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	transition: .6s;
	transform-style: preserve-3d;
	margin: 30px;
	font-family: 'Rubik', sans-serif;

	--rX: 5;
	--rY: 180;
}
  
.wrapper:hover .card{
	transform:
	  scale(1.05)
	  perspective(500px)
	  rotateX(calc(var(--rX) * 1deg))
	  rotateY(calc(var(--rY) * 1deg));
	box-shadow: 0px 0px 15px var(--color_1);
}

.card-back, .card-front{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card-front {
	
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px;
	grid-template-areas: "image" "text";
	place-items:  center;
	background: white;
	color: black;
	text-align: center;
	cursor: pointer;
	outline: solid 4px;
	outline-color: var(--color_1);
	outline-offset: -10px;

	transform: rotateY(180deg);
}

.card-back {
	background-color: var(--color_1);
	text-align: center;
}
  
.card-image {
	grid-area: image;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}
  
.card-image img {
	height: 100%;
}
  
.card-text {
	grid-area: text;
	margin: 25px;
}
  
.card-text .role {
	color: var(--color_1);
	font-size: var(--font_size_small);

}
  
.card-text p {
	text-align: center;
	color: grey;
	font-size: var(--font_size_small);
	font-weight: 300;
}
  
.card-text h2 {
	font-style: italic;
	margin-top: 0px;
	font-size: var(--font_size_medium);
}