@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
	text-align: center;
}
  
.wrapper {
	display: inline-block;
	margin: 0 auto;
}

.card {
	background-color: transparent;
	width: 300px;
	height: 420px;
	border-radius: 18px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	transition: .6s;
	transform-style: preserve-3d;
	margin: 30px;
	font-family: 'Rubik', sans-serif;

	--rX: 5;
	--rY: 180;
}
  
.wrapper:hover .card{
	transform:
	  scale(1.05)
	  perspective(500px)
	  rotateX(rX)
	  rotateY(rY);
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.card-back, .card-front{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	backface-visibility: hidden;
}

.card-front {
	
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px;
	grid-template-areas: "image" "text";
	place-items:  center;
	background: white;
	color: black;
	text-align: center;
	cursor: pointer;
	outline: solid 4px;
	outline-offset: -10px;

	transform: rotateY(180deg);
}

.card-back {
	background-color: darkred;
	text-align: center;
}
  
.card-image {
	grid-area: image;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}
  
.card-image img {
	height: 100%;
}
  
.card-text {
	grid-area: text;
	margin: 25px;
}
  
.card-text .role {
	color: rgb(255, 7, 110);
	font-size: 13px;
}
  
.card-text p {
	color: grey;
	font-size: 15px;
	font-weight: 300;
}
  
.card-text h2 {
	margin-top: 0px;
	font-size: 28px;
}